<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test verbose="2" preserve-order="true"
          name="TestChrome">
        <classes>
            <class name="Docker.ChromeDockerIntegration">
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="TestFirefox">
        <classes>
            <class name="Docker.FirefoxDockerIntegration">
            </class>
        </classes>
    </test>
</suite>